.questions {
  &__container {
    display: block;

    @include onTablet {
      display: flex;
      gap: 20px;

      & > * {
        flex-basis: 0;
        flex-grow: 1;
      }
    }

    @include onDesktop {
      gap: 30px;
    }
  }

  &__title {
    margin-bottom: 27px;

    @include onTablet {
      width: 50%;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;

    @include onTablet {
      width: 47%;
    }
  }

  &__input {
    margin-bottom: 20px;
  }

  &__textarea {
    height: 128px;
    resize: none;
    margin-bottom: 30px;

    @include onTablet {
      height: 201px;
    }

    @include onDesktop {
      height: 128px;
    }
  }

  &__button {
    background-color: #39bebf;

    &:hover {
      background-color: #0db2b3;
    }
  }
}
