@mixin hover($_property, $_toValue) {
  transition: #{$_property} 0.3s;
  &:hover {
    #{$_property}: $_toValue;
  }
}

@mixin square($width) {
  width: $width;
  height: $width;
}

@mixin transition {
  transition: all 0.3s linear;
}

@mixin hide-text {
  height: 0;
  font-size: 0;
  visibility: hidden;
}

@mixin onSmartphone {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin onDesktop {
  @media (min-width: 1280px) {
    @content;
  }
}
